[Desktop Entry]
Version=1.0
Comment=AtenCalc - Command-line calculator
Exec=ac %f
GenericName=AtenCalc
Icon=AtenCalc
Name=AtenCalc
StartupNotify=false
Terminal=false
Type=Application
Categories=Education;
X-SuSE-translate=false
