[Desktop Entry]
Version=0.4.1
Encoding=UTF-8
Comment=AtenCalc - Command-line calculator
Exec=ac %f
GenericName=AtenCalc
Icon=AtenCalc
Name=AtenCalc
StartupNotify=false
Terminal=0
Type=Application
Categories=Education;
X-SuSE-translate=false
